prefix: "test"
threads: 48
tmp: "./tmp"

# int cutoff of freq number for select beads; 0 means output all beads
beadSelect: 10
distCutoff: 0.04
divideSH: 10

BB_LIST: "REF/barcode.list"
REF_GEN: "REF/ncbi.5Ref.fasta"
REF_ITS: "REF/ee_its_database.fasta" #UNITE + 5 fungi used in test

REF_FA: "REF/ncbi.5Ref.fasta"
REF_ID: "REF/ncbi.5Ref.faID"

samples:
  APR831: Aprl_83L01
  APR832: Aprl_83L02
  APR841: Aprl_84L01
  APR842: Aprl_84L02


### method selection
method:
  cluster:
    mash: False
    dups: False
    bb1m: True
  circos: True

### params
p_cluster_minR: 2
p_cluster_maxR: 20
p_cluster_topB: 0
p_cluster_ranP: 0

p_dist_min: 0
p_dist_max: 0.04

#reads/beads per cluster threashold
p_rpc_min: 0
p_bpc_min: 0

#Circos
p_cc_zoom: 1
p_cc_cut:  97

######################

### Thread control
thread:
  manualDivide: 10
  pigz: 4
  fastp: 6
  spades: 8
  vsearch: 16
